img {
    height: auto;
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include respond-to('large') {
        align-items: center;
        flex-direction: row;
    }
    .col {
        align-self: flex-start;

        @include respond-to('large') {
            float: left;
        }

        > * {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-1half {
            @include respond-to('large') {
                width: 48%;
                &:not(:last-child) {
                    margin-right: 4%;
                }
            }
        }

        &-1third {
            @include respond-to('large') {
                width: 30.666%;

                &:not(.col-last) {
                    margin-right: 4%;
                }
            }
        }

        &-2third {
            @include respond-to('large') {
                width: 65.334%;

                &:not(.col-last) {
                    margin-right: 4%;
                }
            }
        }
    }
}

.text-center {
    text-align: center;
}
